.sidebar {
    position: fixed; /* Fixed position */
    top: 0px; /* Position from the top */
    left: 0; /* Position from the left */
    bottom: 0; /* Position from the bottom */
    background-color: #333; /* Sidebar background color */
    color: #fff; /* Text color */
    width: 250px; /* Sidebar width */
    z-index: 1;
    padding-top: 60px;
}

.sidebar__items-list {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar__item {
    padding: 10px;
    border: 1px 1px 0px solid #555;
    cursor: pointer;
}

.sidebar__item:hover {
    background-color: #444;
    color: #fff;
}


.sidebar__item a {
    color: #fff;
    text-decoration: none;
}

.sidebar__item a:hover {
    text-decoration: underline;
}
