<div class="post">
    <h3 class="post__title">{{ post.title }}</h3>
    <button *ngIf="myPost" (click)="onMore()" class="post__more-btn"><img src="../../../../../assets/icons/more-horizontal.svg" alt="Three horizontal dots."></button>
    <div *ngIf="options" class="post__more-options">
        <button (click)="onDelete()" class="post__delete">Delete</button>
        <button (click)="onEdit()" (click)="onOption()" class="post__edit">Edit</button>
    </div>
    <p class="post__content">
        {{ post.content }}
    </p>
    <p class="post__author">Author</p>
</div>
