<!-- request.component.html -->
<div class="request-card">
    <div class="request-card__info">
        <div class="name">John Dope</div>
        <div class="role">Role</div>
    </div>
    <div class="request-card__actions">
        <!-- <button class="btn request-card__accept-btn">Accept</button>
        <button class="btn request-card__decline-btn">Decline</button> -->
        <button class="btn btn--accept">Accept</button>
        <button class="btn btn--decline">Decline</button>
    </div>
</div>
