<div class="request-card fade-in">
    <div class="request-card__info">
        <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="role"> {{ user.role }}</div>
    </div>
    <div class="request-card__actions">
        <button (click)="onAccept()" *ngIf="!sent" class="btn btn--accept">Accept</button>
        <button *ngIf="!sent" class="btn btn--decline">Decline</button>
        <button (click)="onWithdraw()" *ngIf="sent" class="btn btn--decline">Withdraw</button>
    </div>
</div>
